:root {
    --blue-color: #2196f3;
    --black-color: #212121;
    --gray-color: #757575;
    --white-color: #ffffff;
    --gray-background-color: #F5F4FA;
    --blue-background-color: #2196f3;
    --dark-background-color: #2f303a;
  }

  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  .logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
  }

  .navigation {
    font-weight: 500;
    letter-spacing: 0.28px;
  }

  .address {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.48px;
  }

  .sub-hero-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 1.00px;
    color: var(--black-color);
  
  }
  
  .sub-hero-position {
    font-size: 16px;
    font-weight: 400;
    line-height: 187.5%;
    letter-spacing: 0.48px;
    color: var(--gray-color);
  }

  .mailto{
    color: var(--blue-color);
  }

  .footer {
    background-color: var(--dark-background-color);
  }
  
  .map {
    color: var(--white-color);
  }
  
  .mail {
    color: var(--gray-color);
  }
  
  .phone {
    color: var(--gray-color);
  }
  
  .studi {
    color: var(--black-color);
  }
  
  .port {
    color: var(--blue-color);
  }

  .contact{
    color: var(--black-color);
  }

  .all {
    color: var(--white-color);
    width: 73px;
    height: 35px;
    border-radius: 4px;
    background-color: var(--blue-background-color);
    letter-spacing: 0.48px;
    border: none;
  }

  .sub-hero{
    background-color: var(--gray-background-color);
    color: var(--black-color);
    width: 125px;
    height: 35px;
    border-radius: 4px;
    border: none;
  }

  .header {
    padding: 25px 0;
  }

  .footer {
    padding: 60px 0;
  }

  .sub-hh {
    padding: 94px 0;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
  }
  
  .navigation-item:not(:last-child) {
    margin-right: 50px;
  }
  
  #header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .navigation-item:nth-child(3) {
    margin-right: 350px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }

  .sub{
    display: flex;
    justify-content: center;
    padding-right: 8px;
  }

  