@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700");
:root {
  --blue-color: #2196f3;
  --black-color: #212121;
  --gray-color: #757575;
  --white-color: #ffffff;
  --gray-background-color: #F5F4FA;
  --blue-background-color: #2196f3;
  --dark-background-color: #2f303a;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.header {
  padding: 25px 0;
}

.navigation {
  font-weight: 500;
  letter-spacing: 0.28px;
}

.address {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.48px;
}

.mailto {
  color: var(--blue-color);
}

.map {
  color: var(--white-color);
}

.mailto {
  color: var(--gray-color);
}

.tel {
  color: var(--gray-color);
}

.studi {
  color: var(--black-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port {
  color: var(--blue-color);
}

.contact {
  color: var(--black-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list {
  display: flex;
  justify-content: center;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

#header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-item:nth-child(3) {
  margin-right: 350px;
}

.navigation-svg {
  width: 15px;
  height: 15px;
}

.mailto:hover .navigation-svg {
  fill: var(--blue-color);
}

.mailto:hover {
  color: var(--blue-color);
}

.tel:hover .navigation-svg {
  fill: var(--blue-color);
}

.tel:hover {
  color: var(--blue-color);
}

.menu-3 {
  background: #ffffff;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu a {
  text-decoration: none;
  color: #000000;
  display: block;
  position: relative;
  padding: 4px 0;
}

.menu a::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -25px;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}

.menu a:hover::before {
  transform: scale3d(1, 1, 1);
}

.menu-3 a::before {
  transform-origin: 50% 50%;
  background: #0088ff;
}

.menu a.active1 {
  color: #2196f3;
}

.menu a.active1::before {
  transform: scale3d(1, 1, 1);
}

.studi:hover, .contact:hover {
  color: var(--blue-color);
}

.sub-hero-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 1px;
  color: var(--black-color);
}

.sub-hero-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 187.5%;
  letter-spacing: 0.48px;
  color: var(--gray-color);
}

.sub-hero {
  background-color: var(--gray-background-color);
  color: var(--black-color);
  width: 125px;
  height: 35px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-hh {
  padding: 94px 0;
}

.all {
  color: var(--white-color);
  width: 73px;
  height: 35px;
  border-radius: 4px;
  background-color: var(--blue-background-color);
  letter-spacing: 0.48px;
  border: none;
}

.sub {
  display: flex;
  justify-content: center;
}

.all {
  margin-right: 8px;
}

.sub-hero:not(:last-child) {
  margin-right: 8px;
}

.container-sub-hero-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sub-hero-article {
  width: 370px;
  margin-bottom: 30px;
}

.sub-hero-img {
  margin: 0;
  border: 1px solid whitesmoke;
}

.sub-hero-text {
  margin-left: 24px;
}

.container-sub-hero-title {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  list-style: none;
}

.sub-hero-article {
  flex-basis: calc((100% - 60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-hero-article:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.sub-hero-div1 {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.sub-hero-div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 161, 242, 0.9450980392);
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

.sub-hero-article:hover .sub-hero-div {
  transform: translateY(0);
}

.sub-hero-div p {
  color: #fff;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0;
}

.sub-hero-p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: center;
}

.sub-hero:hover {
  background-color: var(--blue-background-color);
  color: var(--white-color);
}

.footer {
  padding: 60px 0;
}

.footer {
  background-color: var(--dark-background-color);
}

.footer-title {
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 14px;
}

.footer-title {
  margin-left: 20px;
}

.footer .container {
  display: flex;
}

.footer-list {
  background-color: #41414f;
  border-radius: 50px;
  margin-left: 15px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list {
  padding: 12px;
  height: 44px;
}

.footer-list:hover {
  background-color: var(--blue-color);
  border-radius: 50px;
}

.footer-svg {
  fill: var(--white-color);
}

.article-icons {
  display: flex;
  justify-content: space-around;
}

.footer-icons {
  margin-left: 70px;
}

.form-subscribe {
  margin-left: 93px;
}

.subscribe-article {
  display: flex;
}

.form-subscribe input {
  background-color: var(--dark-background-color);
  border-radius: 5px;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  color: var(--white-color);
  background-color: var(--blue-color);
  border-radius: 10px;
}

.div-sbs {
  padding-left: 12px;
}

.svg-btn-subscribe {
  fill: var(--white-color);
  padding-left: 10px;
}

.input-subscribe {
  width: 358px;
  height: 50px;
}

.h3-subscribe {
  color: var(--white-color);
  margin-left: 93px;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
}