:root {
  --blue-color: #2196f3;
  --black-color: #212121;
  --gray-color: #757575;
  --white-color: #ffffff;
  --gray-background-color: #F5F4FA;
  --blue-background-color: #2196f3;
  --dark-background-color: #2f303a;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.navigation {
  font-weight: 500;
  letter-spacing: 0.28px;
}

.titlee {
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 2.64px;
  line-height: 136%;
  text-transform: uppercase;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.work-list {
  font-size: 16px;
  font-weight: 500;

}

.work-for {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  color: var(--gray-color);
}

.work-img {
  width: 370px;
  height: 294px;
}

.photo {
  width: 270px;
  height: 260px;
}

.team-name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  color: var(--black-color);
}

.team {
  background-color: var(--gray-background-color);
}



.address {
  font-size: 14px;
  font-weight: 400;
  line-height: 171.429px;
  letter-spacing: 0.48px;
}

.studio {
  color: var(--blue-color);
}

.portfolio,
.contact {
  color: var(--black-color);
}

.mailto {
  color: var(--blue-color);
}

.tel {
  color: var(--gray-color);
}

.hh {
  color: var(--white-color);
  background-color: var(--dark-background-color);
}

.busines-button {
  border-radius: 4px;
  margin-top: 30px;
  padding: 10px 32px;
  border: none;
}

.busines-button {
  color: var(--white-color);
  background-color: var(--blue-background-color);
}

.busines-button{
  display: flex;
  margin-left: 500px;
}

.list-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}


.footer {
  background-color: var(--dark-background-color);
}

.map {
  color: var(--white-color);
}

.mail {
  color: var(--gray-color);
}

.phone {
  color: var(--gray-color);
}


.idea {
  color: var(--gray-color);
}


body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.header {
  padding: 25px 0;
}

.hh {
  padding: 200px 0;
}

.info {
  padding: 94px 0;
}

.footer {
  padding: 60px 0;
}

.work {
  padding: 94px 0;
}


.team {
  padding: 94px 0;
}

.navigation-list {
  display: flex;
  justify-content: center;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

#header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navigation-item:nth-child(3) {
  margin-right: 350px;
}

ul {
  list-style: none;
  padding: 0;
}

.info-list {
  display: flex;
  justify-content: space-between;
}

.list-item {
  width: 270px;
}

.work-list{
  display: flex;
  justify-content: space-between;
}

.container-team{
  display: flex;
  justify-content: space-between;
}


.container-team figure{
  margin: 0;
}

.list-item h3{
  line-height: 1.14;
}

.list-item p{
  line-height: 1.71;
}

a {
  text-decoration: none;
}

.team-list{
  text-align: center;
}