@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700");
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

figure {
  background-color: var(--white-color);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

* {
  margin: 0;
  padding: 0;
}

.list-item:nth-child(4)::before, .list-item:nth-child(3)::before, .list-item:nth-child(2)::before, .list-item:nth-child(1)::before, .info-list, #header-flex, .navigation .navigation-list {
  display: flex;
  justify-content: center;
}

.container-team, .work .work-list {
  display: flex;
  justify-content: space-between;
}

.list-item:nth-child(4)::before, .list-item:nth-child(3)::before, .list-item:nth-child(2)::before, .list-item:nth-child(1)::before {
  background-color: #F5F4FA;
  padding: 25px;
  margin-bottom: 30px;
}

.team-name, .work-for {
  font-size: 16px;
  letter-spacing: 0.48px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 748px !important;
    padding: 0 !important;
  }
  .work-div {
    margin: 10px;
  }
  .button {
    margin: 1000px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 480px !important;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.navigation {
  font-weight: 500;
  letter-spacing: 0.28px;
}
.title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.address {
  font-size: 14px;
  font-weight: 400;
  line-height: 171.429px;
  letter-spacing: 0.48px;
}

.studio {
  color: #2196f3;
}

.portfolio,
.contact {
  color: #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailto {
  color: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel {
  color: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio:hover, .contact:hover {
  color: #2196f3;
}

.header {
  padding: 25px 0;
}

.navigation-svg {
  width: 15px;
  height: 15px;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

#header-flex {
  align-items: center;
}

.navigation-item:nth-child(3) {
  margin-right: 350px;
}

.mailto:hover .navigation-svg {
  fill: #2196f3;
}

.mailto:hover {
  color: #2196f3;
}

.tel:hover .navigation-svg {
  fill: #2196f3;
}

.tel:hover {
  color: #2196f3;
}

.menu-3 {
  background: #ffffff;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu a {
  text-decoration: none;
  color: #000000;
  display: block;
  position: relative;
  padding: 4px 0;
}

.menu a::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -25px;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}

.menu a:hover::before {
  transform: scale3d(1, 1, 1);
}

.menu-3 a::before {
  transform-origin: 50% 50%;
  background: #0088ff;
}

.menu a.active {
  color: #2196f3;
}

.menu a.active::before {
  transform: scale3d(1, 1, 1);
}

.hh {
  padding: 200px 0;
  color: #ffffff;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(130, 132, 160, 0.2)), url(../img/img\(17\).png);
  background-repeat: no-repeat;
  background-size: cover;
}

.titlee {
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 2.64px;
  line-height: 136%;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(0.8) translate(-60%, -60%);
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  padding: 15px;
  background-color: skyblue;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  height: 581px;
  width: 528px;
  background-color: #ffffff;
  padding: 40px;
  text-align: center;
}

.svg-modal {
  position: absolute;
  transform: translateY(-70%);
  top: 50%;
  left: 50px;
}

.input-modal {
  height: 40px;
  width: 448px;
}

.first-name,
.number-phone,
.e-mail {
  margin: 0;
}

.text-form {
  color: #757575;
  margin: 0;
  text-align: left;
  padding-left: 35px;
  padding-bottom: 4px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  text-align: left;
}
.text-form:last-child {
  padding-left: 38px;
  margin-left: 0;
}

.textarea-modal {
  padding: 12px 16px;
  width: 416px;
  height: 96px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.agree {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.button-modal {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #2196f3;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 40px;
}

.modal input:hover {
  border-color: #2196f3;
}

.div-input:hover .svg-modal {
  fill: #2196f3;
}

.modal .btn-cls {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-cls {
  border-radius: 30px;
  width: 30px;
  height: 30px;
  border: none;
}

.modal .btn-cls:hover {
  color: #2196f3;
}

.div-input {
  position: relative;
  padding-bottom: 10px;
}

.conditions {
  color: #2196f3;
  text-decoration: underline;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  padding-bottom: 30px;
}

.busines-button {
  display: flex;
  margin-left: 500px;
  border-radius: 4px;
  margin-top: 30px;
  padding: 10px 32px;
  border: none;
  color: #ffffff;
  background-color: #2196f3;
}

.list-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.info {
  padding: 94px 0;
}

.info-list .list-item {
  width: 270px;
}
.info-list p {
  line-height: 1.71;
}
.info-list h3 {
  line-height: 1.14;
}

.list-title {
  position: relative;
}

.list-item:nth-child(1)::before {
  content: url("../img/antenna(1).png");
}

.list-item:nth-child(2)::before {
  content: url("../img/clock(1).png");
}

.list-item:nth-child(3)::before {
  content: url("../img/diagram(1).png");
}

.list-item:nth-child(4)::before {
  content: url("../img/astronaut(1).png");
}

.work {
  padding-bottom: 80px;
}
.work .work-list {
  font-size: 16px;
  font-weight: 500;
}
.work .work-list img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.work-img {
  width: 370px;
  height: 294px;
}

.work-div {
  position: relative;
}
.work-div p {
  color: #ffffff;
  position: absolute;
  display: block;
  text-align: center;
  left: 0px;
  bottom: 0px;
  width: 89%;
  margin: 0px;
  padding: 20px;
  background-color: rgba(44, 44, 44, 0.704);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.work-for {
  font-weight: 400;
  color: #757575;
}

.team-name {
  font-weight: 500;
  color: #212121;
}

.team {
  background-color: #F5F4FA;
  padding: 94px 0;
}
.team .team-list {
  text-align: center;
}
.team .team-list .photo {
  width: 270px;
  height: 260px;
}

.container-team figure {
  margin: 0;
}

.team-div {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 40px;
}

.team-svg {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover .team-svg {
  fill: white;
}

.team-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px;
  border-radius: 50%;
}
.team-link:hover {
  background-color: #2196f3;
  border-radius: 50px;
}

.client-list {
  display: flex;
  justify-content: space-between;
}
.client-list .client-link {
  margin-bottom: 94px;
  margin-right: 30px;
  border: 1px solid #757575;
  border-radius: 5px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list .client-link:hover {
  border-color: #2196F3;
}

.client-svg {
  padding: 16px 32px;
  fill: #757575;
}

.client-link:hover .client-svg {
  fill: #2196F3;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.footer .container {
  display: flex;
}

.footer-title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 20px;
}

.footer-list {
  background-color: #41414f;
  border-radius: 50px;
  margin-left: 15px;
  padding: 12px;
  height: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list:hover {
  background-color: #2196f3;
  border-radius: 50px;
}

.footer-svg {
  fill: #ffffff;
}

.footer-icons {
  margin-left: 70px;
}
.footer-icons .article-icons {
  display: flex;
  justify-content: space-around;
}

.titlee1 {
  color: #212121;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 700;
  line-height: 23.44px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
  padding-bottom: 11px;
}

.subscribe-article {
  display: flex;
}
.subscribe-article .form-subscribe {
  margin-left: 93px;
}
.subscribe-article .form-subscribe input {
  background-color: #2f303a;
  border-radius: 5px;
}

.div-sbs {
  padding-left: 12px;
}
.div-sbs .subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 10px;
}
.div-sbs .subscribe-btn .svg-btn-subscribe {
  fill: #ffffff;
  padding-left: 10px;
}

.input-subscribe {
  width: 358px;
  height: 50px;
}

.h3-subscribe {
  color: #ffffff;
  margin-left: 93px;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
}

.map {
  color: #ffffff;
}

.mail {
  color: #757575;
}

.phone {
  color: #757575;
}

.idea {
  color: #757575;
}