
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}



ul {
  list-style: none;
  padding: 0;
}



* {
  box-sizing: border-box;
}






@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
*{
  margin: 0;
  padding: 0;
}




@import 'components/variables';
@import 'components/portfolio-header';
@import 'components/sub-hero';
@import 'components/portfolio-footer';






