.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
  }
  
  .navigation {
    font-weight: 500;
    letter-spacing: 0.28px;
  }
  
  
  
  .title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
  }

  
  .address {
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429px;
    letter-spacing: 0.48px;
  }
  
  .studio {
    color: var(--blue-color);
  }
  
  .portfolio,
  .contact {
    color: var(--black-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .mailto {
    color: var(--gray-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .tel {
    color: var(--gray-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  
  .portfolio:hover , .contact:hover{
    color: var(--blue-color);
  }
  
  .header {
    padding: 25px 0;
  }
  
  
  .navigation-list {
    display: flex;
    justify-content: center;
  }

  .navigation-svg {
    width: 15px;
    height: 15px;
  }
  
  .navigation-item:not(:last-child) {
    margin-right: 50px;
  }
  
  #header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .navigation-item:nth-child(3) {
    margin-right: 350px;
  }

  .mailto:hover .navigation-svg {
    fill: var(--blue-color);
  }
  
  .mailto:hover {
    color: var(--blue-color);
  }
  
  .tel:hover .navigation-svg {
    fill: var(--blue-color);
  }
  
  .tel:hover {
    color: var(--blue-color);
  }

  .menu-3{
    background: #ffffff;
  }
  .menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .menu a{
    text-decoration: none;
    color: #000000;
    display: block;
    position: relative;
    padding: 4px 0;
  }
  .menu a::before{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -25px;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s transform ease;
    transform: scale3d(0,1,1);
    transform-origin: 0 50%;
  }
  .menu a:hover::before{
    transform: scale3d(1,1,1);
  }
  
  .menu-3 a::before{
    transform-origin: 50% 50%;
    background: #0088ff;
  }
  
  .menu a.active {
    color: #2196f3; 
  }
  .menu a.active::before {
    transform: scale3d(1, 1, 1); 
  }