.list-title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  .info {
    padding: 94px 0;
  }

  .info-list {
    @extend %flex;

    .list-item {
      width: 270px;
    }

    p {
      line-height: 1.71;
    }

    h3 {
      line-height: 1.14;
    }
  }
  
  .list-title {
    position: relative;
  }
  
  .list-item:nth-child(1)::before {
    content: url("../img/antenna\(1\).png");
    @extend %flex;
    @extend %list;
  }
  
  .list-item:nth-child(2)::before {
    content: url("../img/clock\(1\).png");
    @extend %flex;
    @extend %list;
  }
  
  .list-item:nth-child(3)::before {
    content: url("../img/diagram\(1\).png");
    @extend %flex;
    @extend %list;
  }
  
  .list-item:nth-child(4)::before {
    content: url("../img/astronaut\(1\).png");
    @extend %flex;
    @extend %list;
  }
  