.hh {
    padding: 200px 0;
  }

  .hh {
    color: var(--white-color);
    background-image: linear-gradient(to right, rgb(47, 48, 58, 0.2), rgb(130, 132, 160, 0.2)), url(../img/img\(17\).png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .titlee {
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 2.64px;
    line-height: 136%;
    text-transform: uppercase;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop.is-hidden .modal {
    transform: scale(0.8) translate(-60%, -60%);
  }
  
  .no-scroll {
    overflow: hidden;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 400px;
    min-height: 300px;
    padding: 15px;
    background-color: skyblue;
    transform: scale(1) translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    display: flex;
    flex-direction: column;
  }

  .modal {
    height: 581px;
    width: 528px;
    background-color: var(--white-color);
    padding: 40px;
    text-align: center;
  }

  .svg-modal {
    position: absolute;
    transform: translateY(-70%);
    top: 50%;
    left: 50px;
  }

  .input-modal {
    height: 40px;
    width: 448px;
  }
  
  .first-name,
  .number-phone,
  .e-mail {
    margin: 0;
  
  }


  .text-form {
    color: var(--gray-color);
    margin: 0;
    text-align: left;
    padding-left: 35px;
    padding-bottom: 4px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 14.06px;
    letter-spacing: 0.01em;
    text-align: left;
  
  }
  
  .text-form:last-child {
    padding-left: 38px;
    margin-left: 0;
  }
  
  .textarea-modal {
    padding: 12px 16px;
  }
  
  
  .textarea-modal {
    width: 416px;
    height: 96px;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  .agree {
    color: var(--gray-color);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
  }


  .button-modal {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: 40px;
  }
  
  .modal input:hover {
    border-color: var(--blue-color);
  }
  
  .div-input:hover .svg-modal {
    fill: var(--blue-color);
  }
  
  .modal .btn-cls {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .btn-cls {
    border-radius: 30px;
    width: 30px;
    height: 30px;
    border: none;
  }
  
  .modal .btn-cls:hover {
    color: var(--blue-color);
  }

  .div-input {
    position: relative;
    padding-bottom: 10px;
  }

  .conditions {
    color: var(--blue-color);
    text-decoration: underline;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    padding-bottom: 30px;
  
  }
  

  .busines-button {
    border-radius: 4px;
    margin-top: 30px;
    padding: 10px 32px;
    border: none;
  }
  
  .busines-button {
    color: var(--white-color);
    background-color: var(--blue-background-color);
  }
  
  .busines-button {
    display: flex;
    margin-left: 500px;
  }

