.footer {
    padding: 60px 0;
  }

  .footer {
    background-color:$dark-background-color;
  }

  .footer-title{
    color: $white-color;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .footer-title{
    margin-left: 20px;
  }
  
  .footer .container{
    display: flex;
  }
  
  .footer-list{
    background-color: #41414f;
    border-radius: 50px;
    margin-left: 15px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-list {
    padding: 12px;
    height: 44px;
  }
  
  .footer-list:hover{
    background-color: $blue-color;
    border-radius: 50px;
  }
  
  .footer-svg{
    fill: $white-color;
  }
  

  .article-icons{
    display: flex;
    justify-content: space-around;
  }
  
  .footer-icons {
    margin-left: 70px;
  }
  
  .form-subscribe {
    margin-left: 93px;
  }
  
  .subscribe-article {
    display: flex;
  }
  
  .form-subscribe input {
  
    background-color: $dark-background-color;
    border-radius: 5px;
  }
  
  .subscribe-btn {
    @extend %flex;
    align-items: center;
    width: 200px;
    height: 50px;
    color: $white-color;
    background-color: $blue-color;
    border-radius: 10px;
  
  }
  
  .div-sbs {
    padding-left: 12px;
  }
  
  .svg-btn-subscribe {
    fill: $white-color;
    padding-left: 10px;
  }
  
  .input-subscribe {
    width: 358px;
    height: 50px;
  }
  
  .h3-subscribe {
    color: $white-color;
    margin-left: 93px;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: left;
  
  }
  