.work-for {
  @extend %team;
    font-weight: 400;
    color: $gray-color;
  }

  
  
  .team-name {
    @extend %team;
    font-weight: 500;
    color: $black-color;
  }
  
  .team {
    background-color: $gray-background-color;
    padding: 94px 0;

    .team-list {
    text-align: center;

    .photo {
      width: 270px;
      height: 260px;
    }
  }
  }

  .container-team {
    @extend %flex2;

    figure {
    margin: 0;
  }
  }

  .team-div {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 40px;
  }
  
  .team-svg {
    fill: $gray-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .team-link:hover .team-svg {
    fill: white;
  }
  
  .team-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 10px;
    border-radius: 50%;

    &:hover {
      background-color: $blue-color;
      border-radius: 50px;
    }
  }