.work {
  padding-bottom: 80px;

  .work-list {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;

    img {
      display: block;
      object-fit: cover;

      width: 100%;
      height: 100%;
    }

  }
}

.work-img {
  width: 370px;
  height: 294px;
}

.work-div {
  position: relative;

  p {
    color: $white-color;
    position: absolute;
    display: block;
    text-align: center;
    left: 0px;
    bottom: 0px;
    width: 89%;
    margin: 0px;
    padding: 20px;


    background-color: rgba(44, 44, 44, 0.704);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
  }
}